html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

#container {
    text-align: center;
}

#dice img {
    width: 100px;
    height: 100px;
}